{% extends 'base.html.twig' %}
{% set current_path = app.request.get('_route') %}
{% block body %}

    <div class="row justify-content-left">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% if "new" in current_path %}
                        <h4 class="card-title">{{ 'company.add'|trans }}</h4>
                    {% else %}
                        <h4 class="card-title">{{ 'company.edit'|trans}} {{ company.id }}</h4>
                        {{ include('company/_delete_form.html.twig') }}
                    {% endif %}
                </div>
                <div class="card-content">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form._token) }}
                    <div class="card-body">
                        {% include 'company/_form.html.twig' %}
                    </div>
                    {{ form_end(form, {'render_rest':false}) }}
                </div>
            </div>
        </div>
    </div>

    {# Listing de tout les users de la societe #}
    <div class="row justify-content-center  m-t-15 ls_user">
        {% if "edit" in current_path %}
            {{ include('component/list_user.html.twig', {'company':company, 'users':company.users}) }}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script>

        $(document).on('click', '.setAdmin', function (){
            const url = $(this).data('url');
            $.get(url, function (data){
                $('.ls_user').html(data["html"]);
            });

        });

    </script>
{% endblock %}