<td>
    <i class="float-right fa fa-2x fa-trash del_detail"></i>
</td>
<td>
    {{ form_widget(form.ReferenceDet,  {'attr': {'class': 'form-control reference'}}) }}
</td>
<td>
    {{ form_widget(form.Libelle,  {'attr': {'class': 'form-control libelle'}}) }}
</td>
<td>
    {{ form_widget(form.PU,  {'attr': {'class': 'form-control'}}) }}
</td>
<td>
    {{ form_widget(form.Qtt,  {'attr': {'class': 'form-control'}}) }}
</td>
    <td>
        {{ form_widget(form.Tva,  {'attr': {'class': 'select2 tva'}}) }}
    </td>
