{% extends 'base.html.twig' %}
{% set current_path = app.request.get('_route') %}
{% block body %}

    <div class="row justify-content-left">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% if "new" in current_path %}
                        <h4 class="card-title">{{ 'user.add'|trans }}</h4>
                    {% else %}
                        <h4 class="card-title">{{ 'user.edit'|trans }} {{ user.id }}</h4>
                        {% if app.user.id != user.id %}
                            {{ include('user/_delete_form.html.twig') }}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-content">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form._token) }}
                    <div class="card-body">
                        {% include 'user/_form.html.twig' %}
                    </div>
                    {{ form_end(form, {'render_rest':false}) }}
                </div>
            </div>
        </div>
    </div>

    {# Listing de tout les societes du user #}
    <div class="row justify-content-center  m-t-15 ls_companies">
        {% if "edit" in current_path and is_granted('ROLE_ADMIN') %}
            {{ include('component/list_companies.html.twig', {'companies':user.company, 'user':user}) }}
        {% endif %}
    </div>

{% endblock %}

{% block js %}
    <script>

        $(document).on('click', '.setAdmin', function () {
            const url = $(this).data('url');
            $.get(url, function (data) {
                $('.ls_companies').html(data["html"]);
            });

        });

    </script>
{% endblock %}